body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: flex-start;
    font-family: sans-serif;
}

h1 {
    border-bottom: solid black thin;
    font-size: 14pt;
}
h2 {
    font-size: 12pt;
    margin-bottom: 0.2em;
}

#controls {
    margin-right: 2em;
}
#controls h1 {
    font-variant: small-caps;
    text-align: center;
}
#controls th {
    white-space: nowrap;
    text-align: right;
}
#controls .sliderLabel {
    width: 2em;
    text-align: center;
    overflow: hidden;
}
#controls #playerNames, #controls #forbiddenPairs {
    width: 100%;
    resize: none;
}
#controls p {
    font-size: 10pt;
    max-width: 305px;
}

#results {
    width: 50%;
}
#results .conflictScore {
    font-size: 10pt;
    font-weight: normal;
    float: right;
}
#results .groups {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
#results .groups .group {
    min-width: 120px;
}
#results .groups .group ul {
    margin-top: 0.2em;
    padding-left: 20px;
}

input[type=range]::-moz-range-track {
  height: 5px;
  background: #ddd;
  border: none;
  border-radius: 3px;
}

input[type=range]:focus::-moz-range-track {
  background: #ccc;
}

